*{
    --primary-color:#346d56;
    --secondary-color:#0A502F;
    --third-color:#137e4c93;
    --forth-color:#1F6B4C;

    --white-color:#b5dbb9de;
    --black-color:#000;
    text-shadow: none !important;
    border: none !important;
}

#update {
    background-color: var(--secondary-color);
    color: white;
}

#del{
    background-color: rgb(80, 10, 10);
    color: white;
}

#add{
    text-align: center;  

}
#add .ui-btn-icon-left:after {
    background-color: transparent !important;
}


.header{
background-color: transparent !important;
height: 180px !important;

}
.bgImage{
    height:100%;
    background-repeat: no-repeat;
    background-image: url("images/leaf.jpg");
    background-size: cover;
    background-image: url("images/leaf.jpg");
}
.content{
    border-radius: 40px 40px 0 0 ;
    background-color:var(--white-color)  !important;
    height: 100% !important;
    -webkit-border-radius: 40px 40px 0 0 ;
    -moz-border-radius: 40px 40px 0 0 ;
    -ms-border-radius: 40px 40px 0 0 ;
    -o-border-radius: 40px 40px 0 0 ;
}
#addPage{
    background-color: yellow !important;   
}
.transparentBg{
    background-color: transparent !important;
}

.icon{
    padding: 16px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.ui-shadow {
    /* -webkit-box-shadow: 0 1px 3px rgb(0 0 0 / 15%); */
    /* -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15); */
    box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
}
.icon:after{
    background-color:var(--primary-color) !important;
}

input{
      height: 25px !important;
      margin: 0 auto !important;
      border: none !important;
      /*<--Thisthinghere*/border:solid 1px #ccc !important;
      border-radius: 10px !important;
      -webkit-border-radius: 10px !important;
      -moz-border-radius: 10px !important;
      -ms-border-radius: 10px !important;
      -o-border-radius: 10px !important;
}
.inputContainer{
    display:inline;

}
label{
    font-size: 18px !important;
    font-weight:bold !important;
    font-style: italic !important;
    font-family: 'Times New Roman', Times, serif !important;
    color:var(--primary-color) !important;
    margin-top: 5px;
}

.footer{
    background-color: transparent !important;
padding:20px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: white;
    font-style: italic;
}
.mainHeader{
    background-color: transparent !important;
}
#main{
    background-color:var(--forth-color);
    padding-top: 15px;
    height:100%;
    background-repeat: no-repeat;
    background-image: url("images/leaf.jpg");
    background-size: cover;
}
.contant , #list ,li{
    background-color: transparent !important;
    margin:15px 5px;

}
 li {
    
    margin: 10px 5px !important;
}
a{
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

}
.ui-page-theme-a .ui-bar-inherit{
    color: white !important;
} 
.contant li a {
    background-color: white !important;
    color: var(--forth-color) !important;
    border:none !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
    font-weight: 200px;

}
.ui-listview>li.ui-last-child{
    -webkit-border-bottom-right-radius:unset;
    border-bottom-right-radius: 40px !important;
    -webkit-border-bottom-left-radius:unset;
    border-bottom-left-radius:40px !important;
}
.ui-page-theme-a .ui-body-inherit{
    border-radius: 13px;
}
.ui-input-has-clear {
    padding-right: 0 !important;
}
#add.ui-btn-icon-left:after{
    background-color: var(--secondary-color);
}

a:hover {
    color: var(--third-color);
}
#entry input{
    border-radius: 40px !important;
    border:none !important;
    padding: 10px !important;
}

 .ui-btn-icon-right:after{
    background-color: var(--third-color) !important;   
}

#save{
    background-color: var(--secondary-color);
    color: white;    
}

#cancel{
    background-color: rgb(80, 10, 10);
    color: white;
}


